extends base

mixin navItem(link, text,icon,active)
    li(class = `${active?'side-nav--active':''}`)
    a(href=`${link}`)
        svg
            use(xlink:href=`/images/icons.svg#icon-${icon}`)
        | #{text}



block content
    //- main.main
    
    section.my-account
        nav.my-account__menu
            ul.my-account__nav
                //- button My Profile 
                //- button My Settings
                //- +navItem('#me','Me','settings',true)
                //- +navItem('#profile','My Profile','briefcase')
                //- +navItem('#settings','My Security','star')
                //- +navItem('#','Billing','credit-card',true)


            //- - if(user.role === 'admin')
            //-     .admin-nav
            //-         h5.admin-nav__heading Admin
            //-         ul.side-nav
            //-             +navItem('#','Manage Tours','map')
            //-             +navItem('#','Manage Users','users')
            //-             +navItem('#','Manage Reviews','star')
            //-             +navItem('#','Manage Bookings','briefcase')


        .my-account__content
            #me.me.my-account__me
                //- h2.heading-secondary.ma-bt-md Your account settings
                //- form.form.form-user-data(action="/submit-user-data" method="POST")
                .me__photo 
                    img(src="/images/users/default.jpg", alt="")
                .me__name
                    h4 Name 
                    p=`${user.firstName} ${user.lastName}`
                .me__mobile
                    h4  Mobile
                    p=`${user.mobile}`
                .me__email
                    h4  Email
                    p=`${user.email}`
                .me__company
                    h4  Company
                    p=`${user.company}`
                .me__profile
                    h4  Profile
                    p=`${user.profile}`
                .me__nationality
                    h4  Nationality
                    p=`${user.nationality}`
                .me__residenceCountry
                    h4  Residence Country
                    p=`${user.residenceCountry}`     
                button.btn.show-ticket Show Ticket


