extends base

mixin navItem(link, text,icon,active)
    li(class = `${active?'side-nav--active':''}`)
    a(href=`${link}`)
        svg
            use(xlink:href=`/images/icons.svg#icon-${icon}`)
        | #{text}



block content
    //- main.main
    
    section.my-account
        nav.my-account__menu
            ul.my-account__nav
                //- button My Profile 
                //- button My Settings
                //- +navItem('#me','Me','settings',true)
                //- +navItem('#profile','My Profile','briefcase')
                //- +navItem('#settings','My Security','star')
                //- +navItem('#','Billing','credit-card',true)


            //- - if(user.role === 'admin')
            //-     .admin-nav
            //-         h5.admin-nav__heading Admin
            //-         ul.side-nav
            //-             +navItem('#','Manage Tours','map')
            //-             +navItem('#','Manage Users','users')
            //-             +navItem('#','Manage Reviews','star')
            //-             +navItem('#','Manage Bookings','briefcase')


        .my-account__content
            #me.me.my-account__me
                //- h2.heading-secondary.ma-bt-md Your account settings
                //- form.form.form-user-data(action="/submit-user-data" method="POST")
                .me__photo 
                    img(src=`https://api.qrserver.com/v1/create-qr-code/?size=300x300&data=${user.visitorId}`, alt="")
                p=`${user.visitorId}`
                .me__name
                    h4 Name 
                    p= user.firstName + " " +user.lastName
                .me__mobile(class= !user.mobile ? "missing" : undefined)
                    h4  Mobile
                    p= user.mobile ? user.mobile : "Missing Data"
                .me__email(class= !user.email ? "missing" : undefined)
                    h4  Email
                    p= user.email ? user.email : "Missing Data"
                .me__company(class= !user.company ? "missing" : undefined)
                    h4  Company
                    p= user.company ? user.company : "Missing Data"
                .me__profile(class= !user.profile ? "missing" : undefined)
                    h4  Profile
                    p= user.profile ? user.profile : "Missing Data"

                .me__residenceCountry(class= !user.country || user.country==="null" ? "missing" : undefined)
                    h4  Country Of Residence
                    p= !user.country || user.country==="null" ? "Missing Data" : user.country

                .me__nationality(class= !user.nationality || user.nationality==="null" ? "missing" : undefined)
                    h4  Nationality
                    p= !user.nationality || user.nationality==="null" ? "Missing Data" : user.nationality



                if user.authorized
                    button.btn.print-badge(data-id=`${user.visitorId}`) Print Entrance Badge
                else 
                    button.btn.update-data Update Missing Data



