extends base

block content 
    section.exhibitor 
        .exhibitor__logo  
            img(src=`${exhibitor.logoUrl}`, alt=`Logo of ${exhibitor.name}`)
        .exhibitor__profile
            .headline= `About ${exhibitor.name}`
            .exhibitor-profile
                | !{exhibitor.profile}
        .exhibitor__brands
        each brand in exhibitor.brands 
            .exhibitor__logo  
                img(src=`${brand.logoUrl}`, alt=`Logo of ${brand.name}`)
        .exhibitor__location
            .headline Our location
            .address= exhibitor.address +", "+ exhibitor.city
            .country= exhibitor.country 

        .exhibitor__contact
            .headline Contact Us

            each contact in exhibitor.orgEmployee
                .details
                    p.highlight= contact.fullName 
                    p= contact.designation
                    p= contact.email 
                    p= contact.mobile


