extends base

mixin navItem(link, text,icon,active)
    li(class = `${active?'side-nav--active':''}`)
    a(href=`${link}`)
        svg
            use(xlink:href=`/images/icons.svg#icon-${icon}`)
        | #{text}



block content
    //- main.main
    
    section.my-account
        nav.my-account__menu
        .my-account__content
           
            #my-profile.my-account__profile
                h2.heading-secondary.ma-bt-md My Profile
                form#user-data.form.form-user-data
                    .form__group
                        label.form__label(for='firstName') First Name
                        input#firstName.form__input(type='text', value=`${user.firstName}`, required, name="firstName")
                        label.form__label(for='lastName') Last Name
                        input#lastName.form__input(type='text', value=`${user.lastName}`, required, name="lastName")
                    //- .form__group
                    //-     label.form__label(for='profile') Designation
                    //-     input#profile.form__input(type='text', value=`${user.firstName}`, required, name="profile")
                    .form__group
                        label.form__label(for='mobile') Mobile
                        input#mobile.form__input(type='text', value=`${user.mobile}`, required, name="mobile")
                    .form__group
                        label.form__label(for='email') Email
                        input#email.form__input(type='email', value=`${user.email}`, required,name="email")
                    //- .form__group.form__photo-upload
                    //-     img.form__user-photo(src=`/images/users/${user.photo}` alt=`Photo of ${user.firstName}`)
                    //-     a.btn-text(href='') Choose new photo
                    .form__group
                        label.form__label(for='company') Company
                        input#company.form__input(type='text', value=`${user.company}`, required, name="company")
                    .form__group
                        label.form__label(for='profile') Profile
                        input#profile.form__input(type='text', value=`${user.profile}`, required, name="profile")
                    //- .form__group
                    //-     label.form__label(for='address') Address
                    //-     input#address.form__input(type='text', value=`${user.address}`, required, name="address")
                    //- .form__group
                    //-     label.form__label(for='city') City
                    //-     input#city.form__input(type='text', value=`${user.city}`, required,name="city")
                    //- .form__group
                    //-     label.form__label(for='country1') Country Of Residence
                    //-     input#country1.form__input(type='text', value=`${user.country}`,required,name="country1")
                    .form__group 
                        label.form__label(for="country") Country Of Residence
                        //- surround the select box with a "custom-select" DIV element. Remember to set the width:
                        //- .custom-select(style="width:200px;")
                        select#country.form__input.form__select(name="country" value=`${user.country}`)
                            include _countries
                    .form__group 
                        label.form__label.form__select(for="nationality") Nationality
                        select#nationality.form__input(name="nationality" value=`${user.nationality}`)
                            include _countries                        
                    //- .form__group.ma-bt-md
                    //-     label.form__label(for='nationality') Nationality
                    //-     input#nationality.form__input(type='text', value=`${user.nationality}`, required,name="nationality")
                    .hidden
                        .form__group
                            label.form__label(for='type') Type
                            input#type.form__input(type='text', value=`${user.type}`, required,name="type")
                        .form__group
                            label.form__label(for='visitorId') Visitor Id
                            input#visitorId.form__input(type='text', value=`${user.visitorId}`, required,name="visitorId")
                        //- .form__group.ma-bt-md
                        //-     label.form__label(for='residenceCountry') Residence Country
                        //-     input#residenceCountry.form__input(type='text', value=`${user.residenceCountry}`, required,name="residenceCountry")                            
                    .form__group.right
                        button.btn.btn--small.btn--green.submit-visitor-data(type="submit") Submit                 

         
